${javaAutoGenerationComment}

package com.kodemore.html.cssBuilder;

import com.kodemore.html.KmCssBuilder;
import com.kodemore.utility.KmValueHolderIF;

public interface KmCss${bundle.f_Name}ConstantsIF
{
$utility.protocol("selectors")

#foreach ( $e in $bundle.selectors )
    String ${e.f_constant} = "${e.f_name}";
#end

$utility.protocol("composites")

#foreach ( $e in $bundle.composites )
    String ${e.prefixConstant.key} = "${e.prefixConstant.value}";
#foreach ( $part in $e.partConstants )
    String ${part.key} = "${part.value}";
#end
#foreach ( $flavor in $e.flavorConstants )
    String ${flavor.key} = "${flavor.value}";
#end
    
#end

}
