${javaAutoGenerationComment}

package ${package}.property.base;

import com.kodemore.collection.*;
import com.kodemore.exception.*;
import com.kodemore.log.*;
import com.kodemore.property.*;
import com.kodemore.time.*;
import com.kodemore.utility.*;

import ${package}.model.*;

public class ${Prefix}PropertyRegistryBase
    extends KmPropertyRegistry
{
#foreach ( $group in $root.propertyFile.groups )
$utility.protocol("${group.f_name}")

#foreach ( $property in $group.properties )
    public ${property.f_javaType} get${property.f_MethodName}()
    {
       return ${Prefix}PropertyDefinitions.get${property.f_MethodName}().${property.f_getTypeFor}(this);
    }

#end
#end
}

