${htmlAutoGenerationComment}

<html>
<head>
  <link rel="StyleSheet" type="text/css" href="../style.css">
</head>
<body>

#foreach ( $model in $root.models )
  <a href="${model.f_name}.html" target=main>${model.f_name}</a><br>
#end

</body>
</html>
