<!DOCTYPE hibernate-configuration SYSTEM
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <!-- ===== Connection =================================================

        Connection (Driver)

        Connection settings are defined in Java rather than here.
        Doing so allows a single point of change via the application properties.
        This way both manual connections and hibernate-managed connections
            can use the same configuration.
        See MyHibernateConfiguration.java

        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/mySchema</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">root</property>
        <property name="hibernate.connection.release_mode">on_close</property>
        -->



        <!-- ===== c3p0 =======================================================

        c3p0 Connection Pooling

        For c3p0 to find them, these settings must be set here, not in the Java file.
        These settings can have a significant impact on performance.

        IMPORTANT
            The timeout must be less than the mySql idle connection timeout.
            If this is set too long you will see really ugly and obscure
               nested exceptions when hibernate attempts to use a stale
               connection.
        -->

        <property name="hibernate.connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property>

        <property name="hibernate.c3p0.min_size">5</property>
        <property name="hibernate.c3p0.max_size">50</property>
        <property name="hibernate.c3p0.timeout">3600</property>        <!-- seconds -->
        <property name="hibernate.c3p0.max_statements">0</property>

        <!--
        The following are set to ensure that the application can be un-deployed
        and politely garbage collected without shutting down tomcat.  For additional
        detail see:
        http://www.mchange.com/projects/c3p0/
        -->
        <property name="hibernate.c3p0.contextClassLoaderSource">library</property>
        <property name="hibernate.c3p0.privilegeSpawnedThreads">true</property>


        <!-- ===== Misc Settings ============================================== -->

        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
        <property name="hibernate.cache.use_second_level_cache">false</property>
        
        <!-- <property name="hibernate.cache.provider_class">org.hibernate.cache.HashtableCacheProvider</property> -->

        <!--
        <property name="hibernate.cache.provider_class">org.hibernate.cache.EhCacheProvider</property>
        -->

        <!--
        Now controlled via application properties.
        <property name="show_sql">false</property>
        -->

        <property name="format_sql">true</property>

        <!-- validate | update | create | create-drop -->
        <property name="hibernate.hbm2ddl.auto">none</property>

        <!-- ===== End ======================================================== -->

    </session-factory>
</hibernate-configuration>
