div.boxBlue.margin
    div.boxYellow.pad.bold Login
    form.boxWhite.pad(action='', onsubmit='MyLoginPage.handleLogin();return false;')
        p.bold Email
        p: input#email.textField(type='text')
        br
        p.bold Password
        p: input#password.textField(type='password')
        br
        button(type='submit') Login
