${javaAutoGenerationComment}

package ${package}.dao.base;

import com.kodemore.collection.*;

import ${package}.dao.*;
import ${package}.model.*;
import ${package}.model.meta.*;

public class ${Prefix}DaoRegistry
{
$utility.protocol("instance")

    private static final ${Prefix}DaoRegistry _instance = new ${Prefix}DaoRegistry();

    public static final ${Prefix}DaoRegistry getInstance()
    {
        return _instance;
    }

#foreach ( $model in $root.databaseModels )
$utility.protocol("${model.f_name}")

    public ${model.f_DaoClass} get${model.f_Name}Dao()
    {
        return new ${model.f_DaoClass}();
    }

    public KmList<${model.f_Class}> findAll${model.f_Names}()
    {
        return get${model.f_Name}Dao().findAll();
    }

    public ${model.f_Class} find${model.f_Name}${model.primaryKeyField.f_Name}(${model.primaryKeyField.f_Type} e)
    {
        return get${model.f_Name}Dao().find${model.primaryKeyField.f_Name}(e);
    }

#end
}
