${javaAutoGenerationComment}

package ${package}.hibernate.base;

import ${package}.dao.core.*;

public abstract class ${Prefix}HibernateConfigurationBase
    extends ${Prefix}AbstractHibernateConfiguration
{
$utility.protocol("private")

    @Override
    protected void addCustomMappings()
    {
#foreach ( $model in $root.databaseModels )
        addMapping("${model.f_name}");
#end
    }

}
