package ${package}.model;

import com.kodemore.collection.*;
import com.kodemore.exception.*;
import com.kodemore.exception.error.*;
import com.kodemore.time.*;
import com.kodemore.utility.*;
import com.kodemore.validator.*;

import ${package}.model.base.*;
import ${package}.utility.*;

/**
 * Custom validation rules for ${model.f_name}.
 */
public class ${model.f_ValidatorClass}
    extends ${model.f_ValidatorBaseClass}
{
    //
}

