/* 
 * We generally reserve the use of dashes for composites.
 * See notes.txt for additional details on our use of css.
 */


/******************************
 * base
 ******************************/
         
.button
{
    box-sizing: border-box;  
    
    height: 30px;
    padding: 6px 7px;
    
    overflow: hidden;
    display: inline-block;
    
    font-family: sans-serif;
    font-size: 1.4rem;
    text-decoration: none;
    
    outline: none; 
    border-radius: 3px;

    border-top:     1px solid #bbb;
    border-left:    1px solid #bbb;
    border-bottom:  1px solid #999;
    border-right:   1px solid #999;
}
.button:focus
{
    box-shadow: 0 0 1px 1px #7294CB;
}


.button > img 
{
    margin: 0 3px -3px 0;
    padding: 0;
    border: none;
    width:  16px;
    height: 16px;
}

.buttonPrimary
{
    font-weight: bold;
}

/******************************
 * theme default 
 ******************************/
         
.button-element-default
{
    cursor: pointer;
    color: #369;
    background: #eee linear-gradient(to bottom, #fff, #ddd);
}

.button-element-default:hover
{
    border-top:     1px solid #cdf;
    border-left:    1px solid #cdf;
    border-bottom:  1px solid #999;
    border-right:   1px solid #999;
    
    background: #eff linear-gradient(to bottom, #fff, #dee);
}        

.button-element-default:active 
{
    border-top:     1px solid #999;
    border-left:    1px solid #999;
    border-bottom:  1px solid #cdf;
    border-right:   1px solid #cdf;

    background: #eff linear-gradient(to bottom, #dee, #fff);
}

/******************************
 * theme positive 
 ******************************/
         
.button-element-positive
{
    color: #591;
    background: #eee linear-gradient(to bottom, #fff, #ddd);

    cursor: pointer;
}

.button-element-positive:hover
{
    color: #591;
    background: #eee linear-gradient(to bottom, #fff, #efc);
    
    border-top:     1px solid #cd8;
    border-left:    1px solid #cd8;
    border-bottom:  1px solid #999;
    border-right:   1px solid #999;
}        

.button-element-positive:active 
{
    background: #eee linear-gradient(to bottom, #efc, #fff);
    
    border-top:     1px solid #999;
    border-left:    1px solid #999;
    border-bottom:  1px solid #cd8;
    border-right:   1px solid #cd8;
}

/******************************
 * theme negative 
 ******************************/
         
.button-element-negative
{
    color: #d22;
    background: #eee linear-gradient(to bottom, #fff, #ddd);
    cursor: pointer;
}

.button-element-negative:hover
{
    color: #d22;
    background: #fee linear-gradient(to bottom, #fff, #fee);
    
    border-top:     1px solid #fcc;
    border-left:    1px solid #fcc;
    border-bottom:  1px solid #999;
    border-right:   1px solid #999;
}        

.button-element-negative:active 
{
    background: #fee linear-gradient(to bottom, #fee, #fff);
    
    border-top:     1px solid #999;
    border-left:    1px solid #999;
    border-bottom:  1px solid #fcc;
    border-right:   1px solid #fcc;
}

/******************************
 * theme disabled
 ******************************/

.button-element-disabled
{
    color: #555;
    background-color: #ddd;
    border: 1px solid #aaa;
    cursor: default;
}

/*******************************************************************
 ** layouts
 *******************************************************************/

.buttonBox                  { padding: 10px; white-space: nowrap; }
.buttonBox > *              { margin-left: 5px;  }
.buttonBox > *:first-child  { margin-left: 0;    }
