/* 
 * We generally reserve the use of dashes for composites.
 * See notes.txt for additional details on our use of css.
 */


/******************************
 * base
 ******************************/
         
.button
{
    box-sizing:      border-box;  
    -moz-box-sizing: border-box;
    
    height: 30px;
    padding: 6px 7px;
    
    overflow: hidden;
    display: inline-block;
    
    font-family: sans-serif;
    font-size: 1.4rem;
    text-decoration: none;
    
    outline: none;
    
    /* FF, Chrome, IE9+ */
    -moz-border-radius:    3px;
    -webkit-border-radius: 3px;
    border-radius:         3px;

    -webkit-box-shadow: inset -1px -1px 1px #bbb;
    -moz-box-shadow:    inset -1px -1px 1px #bbb;
    box-shadow:         inset -1px -1px 1px #bbb;

    border-top:     1px solid #bbb;
    border-left:    1px solid #bbb;
    border-bottom:  1px solid #999;
    border-right:   1px solid #999;
}

.button > img 
{
    margin: 0 3px -3px 0;
    padding: 0;
    border: none;
    width:  16px;
    height: 16px;
}

.buttonPrimary
{
    font-weight: bold;
}

/******************************
 * theme default 
 ******************************/
         
.button-element-default
{
    color: #369;
    cursor: pointer;
    background: #fff url(buttonGradient.png) repeat-x 0 -20px;
}

.button-element-default:hover
{
    border-top:     1px solid #cdf;
    border-left:    1px solid #cdf;
    border-bottom:  1px solid #999;
    border-right:   1px solid #999;
    
    background: #eff url(buttonGradient.png) repeat-x 0 -20px;
}        

.button-element-default:active 
{
    -webkit-box-shadow: inset 1px 1px 1px #bbb;
    -moz-box-shadow:    inset 1px 1px 1px #bbb;
    box-shadow:         inset 1px 1px 1px #bbb;
    
    border-top:     1px solid #999;
    border-left:    1px solid #999;
    border-bottom:  1px solid #cdf;
    border-right:   1px solid #cdf;

    background: #eff url(buttonGradient.png) repeat-x 0 0;
}

/******************************
 * theme positive 
 ******************************/
         
.button-element-positive
{
    color: #591;
    background: #fff url(buttonGradient.png) repeat-x 0 -20px;
    cursor: pointer;
}

.button-element-positive:hover
{
    color: #591;
    background: #efc url(buttonGradient.png) repeat-x 0 -20px;
    
    border-top:     1px solid #cd8;
    border-left:    1px solid #cd8;
    border-bottom:  1px solid #999;
    border-right:   1px solid #999;
}        

.button-element-positive:active 
{
    background: #efc url(buttonGradient.png) repeat-x 0 0;
    
    -webkit-box-shadow: inset 1px 1px 1px #bbb;
    -moz-box-shadow:    inset 1px 1px 1px #bbb;
    box-shadow:         inset 1px 1px 1px #bbb;
    
    border-top:     1px solid #999;
    border-left:    1px solid #999;
    border-bottom:  1px solid #cd8;
    border-right:   1px solid #cd8;
}

/******************************
 * theme negative 
 ******************************/
         
.button-element-negative
{
    color: #d22;
    cursor: pointer;
    background: #fff url(buttonGradient.png) repeat-x 0 -20px;
}

.button-element-negative:hover
{
    color: #d22;
    background: #fee url(buttonGradient.png) repeat-x 0 -20px;
    
    border-top:     1px solid #fcc;
    border-left:    1px solid #fcc;
    border-bottom:  1px solid #999;
    border-right:   1px solid #999;
}        

.button-element-negative:active 
{
    background: #fee url(buttonGradient.png) repeat-x 0 0;
    
    -webkit-box-shadow: inset 1px 1px 1px #bbb;
    -moz-box-shadow:    inset 1px 1px 1px #bbb;
    box-shadow:         inset 1px 1px 1px #bbb;
    
    border-top:     1px solid #999;
    border-left:    1px solid #999;
    border-bottom:  1px solid #fcc;
    border-right:   1px solid #fcc;
}

/******************************
 * theme disabled
 ******************************/

.button-element-disabled
{
    color: #555;
    background-color: #bbb;
    border: 1px solid #888;
    cursor: default;
}

/*******************************************************************
 ** layouts
 *******************************************************************/

.buttonBox
{
    box-sizing:      border-box;  
    -moz-box-sizing: border-box;
    
    height:  50px; 
    padding: 10px;
}
.buttonBox > * 
{
    margin-right: 5px;
}


.buttonBoxLeft
{
    float: left;
    padding: 10px;
}
.buttonBoxLeft > * 
{
    margin-right: 5px;
}

.buttonBoxRight
{
    float: right;
    padding: 10px;
    
}
.buttonBoxRight > *
{
    margin-left: 5px;
}

