/************************************************
 **
 ** Credit
 **
 ** http://webdesignerwall.com/tutorials/css3-dropdown-menu
 **
 ************************************************/


/************************************************
 **
 ** Wrapper
 **
 ** This is not strictly part of the menu and may not be used in production.  
 ** However, it is useful for testing, and demonstrates the expectation of a
 ** relatively dark background behind the menu.
 **
 ************************************************/

.topMenuWrapper
{
    background: #aaa url(topMenuGradient.png) repeat-x 0 -75px;
}


/************************************************
 **
 ** Level 1
 **
 ** You must apply .topMenu to the outermost UL.
 **
 ************************************************/

.topMenu 
{
    display: block;
    float: right;
}


/* clearfix */
.topMenu:after
{
    content: ".";
    clear: both;
    display: block;
    visibility: hidden;
    height: 0;
    font-size: 0; 
    line-height: 0;
}


.topMenu li 
{
    float: left;
    position: relative;
    list-style: none;
    
    margin: 0 5px;
    padding: 5px 0;
}


.topMenu a 
{
    /*
    color: #eee;
    text-shadow: 0 1px 1px rgba(0,0,0, .3);
    */
    color: #444;
    
    display: block;
    
    font: bold 13px sans-serif;
    text-decoration: none;
    
    margin: 0;
    padding:  8px 20px;

    -webkit-border-radius: 20px;
    -moz-border-radius:    20px;
    border-radius:         20px;
    
    
    border: 1px solid transparent;
}


.topMenu .current a, 
.topMenu li:hover > a 
{
    color: #444;
    background: #666 url(topMenuGradient.png) repeat-x 0 -40px;
    border-top: solid 1px #f8f8f8;

    -webkit-box-shadow: 0 1px 1px rgba(0,0,0, .2);
    -moz-box-shadow:    0 1px 1px rgba(0,0,0, .2);
    box-shadow:         0 1px 1px rgba(0,0,0, .2);

    text-shadow: 0 1px 0 rgba(255,255,255, 1);
}


/************************************************
 **
 ** Level 2
 **
 ************************************************/
 
.topMenu ul 
{
    display: none;

    position: absolute;
    top: 40px;
    right: 0;
    width: 185px;

    background: #ddd url(topMenuGradient.png) repeat-x 0 0;
    border: solid 1px #ccc;

    -webkit-border-radius: 10px;
    -moz-border-radius:    10px;
    border-radius:         10px;

    -webkit-box-shadow: 0 1px 3px rgba(0,0,0, .3);
    -moz-box-shadow:    0 1px 3px rgba(0,0,0, .3);
    box-shadow:         0 1px 3px rgba(0,0,0, .3);
}


.topMenu li:hover > ul 
{
    display: block;
}

.topMenu ul li 
{
    float: none;
    margin: 0;
    padding: 0;
}


.topMenu ul a 
{
    font-weight: normal;
    text-shadow: 0 1px 0 #fff;
}


.topMenu ul li:hover a, 
.topMenu li:hover li a 
{
    background: none;
    border: none;
    color: #666;

    -webkit-box-shadow: none;
    -moz-box-shadow:    none;
    box-shadow:         none;
}


.topMenu ul a:hover 
{
    color: #fff !important;
    background: #07f url(topMenuGradient.png) repeat-x 0 -100px !important;

    -webkit-border-radius: 0;
    -moz-border-radius:    0;
    border-radius:         0;

    text-shadow: 0 1px 1px rgba(0,0,0, .1);
}


/************************************************
 **
 ** Level 3+
 **
 ************************************************/

.topMenu ul ul 
{
    right: 181px;
    top: -3px;
    
    margin: 0;
    padding: 0;
}


/************************************************
 **
 **  Dropdowns, rounded corners
 **
 ************************************************/

.topMenu ul li:first-child > a 
{
    -webkit-border-top-left-radius:     9px;
    -moz-border-radius-topleft:         9px;
    border-top-left-radius:             9px;

    -webkit-border-top-right-radius:    9px;
    -moz-border-radius-topright:        9px;
    border-top-right-radius:            9px;
}


.topMenu ul li:last-child > a 
{
    -webkit-border-bottom-left-radius:  9px;
    -moz-border-radius-bottomleft:      9px;
    border-bottom-left-radius:          9px;

    -webkit-border-bottom-right-radius: 9px;
    -moz-border-radius-bottomright:     9px;
    border-bottom-right-radius:         9px;
}
