/*******************************************************************
 ** root
 *******************************************************************/

html
{
    font-size: 62.5%; /* 10px */ 
    line-height: 1.2;
}

body
{
    overflow: hidden;
    font-size: 1.3rem;
    background-color: #f8f8f8;
}

/*******************************************************************
 ** page header
 *******************************************************************/

.pageHeader_normal,
.pageHeader-bare
{
    box-sizing: border-box;  
    
    position: absolute;
    left:   0;
    right:  0;
    top:    0;
    height: 50px;

    display: flex;
    align-items: center;
    white-space: nowrap;
        
    overflow: visible;
    background-image: linear-gradient(to bottom, #bbb, #f8f8f8);
}

.environmentStage .pageHeader_normal,
.environmentStage .pageHeader-bare
{
    background-image: linear-gradient(to bottom, #00f, #f8f8f8);
}

.environmentProduction .pageHeader_normal,
.environmentProduction .pageHeader-bare
{
    background-image: linear-gradient(to bottom, #f00, #f8f8f8);
}


/* the left side of the header; contains the app logo and title */
.pageHeader-left
{
    padding-top: 5px;
    flex-grow: 1;
}

#pageHeaderLink
{
}

#pageHeaderLogoImage
{
    padding: 0 5px;
}

#pageHeaderLogoText
{
    color: #000;
    font: italic bold 3rem sans-serif;
    text-shadow: -1px -1px #fff,  1px  1px #444;
    display: inline-block;
    vertical-align: top;
}

/* the right side of the header; contains the project and user dropdown menus */
.pageHeader-right
{
    flex-shrink: 0;
}
.pageHeader-right > *
{
    margin-right: 5px;
}

.pageHeader-bare > .pageHeader-right
{
    display: none;
}

/*******************************************************************
 ** page footer
 *******************************************************************/

.pageFooter-normal
{
    box-sizing: border-box;  
    
    position:   absolute;
    left:       0;
    right:      0;
    bottom:     0;
    height:     30px;
}

.pageFooter-bare
{
    box-sizing: border-box;  
    
    position:   absolute;
    left:       0;
    right:      0;
    bottom:     0;
    height:     30px;
}

.pageFooterInner
{
    vertical-align: middle;
    text-align: center;
    color: #444;
    font: normal 1.2rem sans-serif;
    padding-top: 8px;
}

/*******************************************************************
 ** top flex menu
 *******************************************************************/

.topMenu
{
    box-sizing:         border-box;
    position:           absolute;
    left:               0;
    right:              0;
    top:                50px;
    height:             50px;
    
    display:            flex;
    align-items:        flex-end;
    
    overflow:           visible;
    border-bottom:      1px solid white;
    background-color:   #f8f8f8;
}
.topMenu:before
{
    content: "";
    display: block;
    position: absolute;
    top:    10px;
    height: 1;
    left:   0;
    right:  0;
    border-top: 1px solid #C0E2D4;
}

.topMenuLeft
{
    box-sizing: border-box;  
    height: 38px;
    border: 1px outset #fff;
    border-left: none;
    background-image: linear-gradient(to bottom, #E3F2EC, #C0E2D4);

    width:       20px;
    flex-grow:   0;
    flex-shrink: 0;
}        
        
.topMenuRight
{
    box-sizing: border-box;  
    height: 38px;
    border: 1px outset #fff;
    border-right: none;
    background-image: linear-gradient(to bottom, #E3F2EC, #C0E2D4);

    flex-grow: 1;
}        
        
.topMenuItem
{
    box-sizing: border-box;  
    height: 38px;
    flex-grow:   0;
    flex-shrink: 0;

    border: 1px outset #fff;
    background-image: linear-gradient(to bottom, #E3F2EC, #C0E2D4);

    padding: 7px 15px 0 15px;
    font:   bold 1.8rem sans-serif;               
    color:  #874B46;
    cursor: pointer;
}        
.topMenuItem:hover 
{
    background-image: linear-gradient(to bottom, #C0E2D4, #E3F2EC);
    text-decoration:  underline;
}

.topMenuSelected
{
    box-sizing: border-box;  
    position: relative;
    top: 2px;
    height: 48px;
    padding: 17px 15px 0 15px;

    flex-grow:   0;
    flex-shrink: 0;

    border: 1px outset #fff;
    border-bottom: none;
    border-radius: 15px 15px 0 0;
    
    color: #fff;
    font: bold 1.8rem sans-serif;               
    cursor: pointer;
    
    background-color: #366;
    background-image: radial-gradient(ellipse, #588 0px, #366 40px);
}        
.topMenuSelected:hover 
{
    text-decoration: underline;
}

.topMenuSelected > span
{
}
 
/*******************************************************************
 ** left menu 
 *******************************************************************/
 
.leftMenu
{
    box-sizing: border-box;  

    position: absolute;
    left:   0;
    width:  150px;
    top:    100px;
    bottom: 30px;
    height: auto;

    overflow-y: auto;  
    overflow-x: hidden;

    border-top: 10px solid #366;    
    background-color: #f8f8f8;
    background-image: linear-gradient(to bottom, #CBE5DA, #CBE5DA, #f8f8f8);
}

.leftMenu-section
{
    cursor: normal;
    white-space: nowrap;
    word-break: keep-all;

    font: bold 1.5rem sans-serif;
    color: #000;
    
    padding: 5px;
    background-image: linear-gradient(to bottom, #aaa, #eee);
    border-top:    1px solid #ddd;
    border-bottom: 1px solid #ccc;
}

.leftMenu-item
{
    color:  #874B46;
    font: bold 1.5rem sans-serif;
    white-space: nowrap;

    cursor: pointer;
    padding: 3px 10px;
    margin:  3px 0 3px 10px;

    border: 2px solid transparent;
    border-right: none;
    border-radius: 15px 0 0 15px;
}

.leftMenu-item:hover
{
    text-decoration: underline;
    border-color: #888;
}

.leftMenu-selection
{
    font: bold 1.5rem sans-serif;
    color: #fff;
    background-color: #366;
    background-image: radial-gradient(ellipse at 35px 15px, #588 0px, #366 40px);
    
    padding: 4px 10px;
    margin:  3px 0 3px 10px;
    
    border: 1px outset #fff;
    border-right: none;
    border-radius: 15px 0 0 15px;
    
    cursor: pointer;
    white-space: nowrap;
}

.leftMenu-selection:hover
{
    text-decoration: underline;
}

.leftMenu-selection > span
{
}

/*******************************************************************
 ** page title
 *******************************************************************/

.pageTitle-bare
{
    display: flex;
}

.pageTitle-simple
{
    box-sizing: border-box;  

    position: absolute;
    left:   0;
    right:  0;
    top:    100px;
    height: 40px;

    display: flex;
    align-items: center;
    
    overflow: hidden;
    background-color: #366;
    border-radius: 0 15px 0 0;
}

.pageTitle-nested
{
    box-sizing: border-box;  

    position: absolute;
    left:   150px;
    right:  0;
    top:    100px;
    height: 40px;
    
    display: flex;
    align-items: center;
    
    overflow: hidden;
    
    background-color: #366;
    border-radius: 0 15px 0 0;
}

.pageTitle-left
{
    flex-grow: 1;
    padding-left: 10px;
}

.pageTitle-right
{
    flex-shrink: 0;
    padding-right: 10px;
}

.pageTitle-nameText
{
    color: #fff;
    font: bold 2.2rem sans-serif;
    white-space: nowrap;
}

.pageTitle-projectText
{
    color: #ddd;
    font: normal 1.6rem sans-serif;
    white-space: nowrap;
    margin-left: 10px;
}

.pageTitle-link
{
    color: #eee;
    font: normal 1.2rem sans-serif;
    white-space: nowrap;
    vertical-align: middle;
    margin-right: 5px;
    text-decoration: none;
}
.pageTitle-link:hover
{
    text-decoration: underline;
}

.pageTitle-help
{
    box-sizing: border-box;
  
    cursor: pointer;
    vertical-align: middle;
  
    background:   url(pageHelp.png) no-repeat;
    height:       16px;
    width:        16px; 
    padding-left: 16px; /* equal to width */
}

/*******************************************************************
 ** page content
 *******************************************************************/

.pageContent-bare
{
    position: absolute;
    left:   0;
    right:  0;
    top:    50px;
    bottom: 30px;
    height: auto;
    
    overflow: hidden;
}

.pageContent-simple
{
    position: absolute;
    left:   0;
    right:  0;
    width:  auto;
    top:    140px;
    bottom: 30px;
    height: auto;
    
    overflow: hidden;
    background-color: #eee;

    border: 10px solid #366;
    border-top: none;
    border-radius: 0 0 15px 15px;
}

.pageContent-nested
{
    position: absolute;
    left:   150px;
    right:  0;
    width:  auto;
    top:    140px;
    bottom: 30px;
    height: auto;
    
    overflow: hidden;
    background-color: #eee;
    
    border: 10px solid #366;
    border-top: none;
    border-radius: 0 0 15px 15px;
}

.pageContentInner
{
    position: absolute;
    left:   0;
    right:  0;
    width:  auto;
    top:    0;
    bottom: 0;
    height: auto;
    
    overflow: auto;
}

/*******************************************************************
 ** form area 
 *******************************************************************/

.formFilter
{
    /* 
     * The section that contains the filter, 
     * as well as the refresh and add buttons. 
     */
    
    box-sizing: border-box;
    height: 50px;  
    
    background-color: #eed;
    border: 1px outset #fff;
}

.formBanner
{
    /* 
     * The top section used to display a selected value.
     * This contains the title and subtitle text, and the edit button(s).  
     */
     
    box-sizing: border-box;
    height: 50px;  
     
    display: flex;
    align-items: center;
    
    background-color: #bdc;
    background-image: linear-gradient(to bottom, #ced, #bdc);
    border: 1px outset #fff;
}

.formTitle
{
    /* The title text, displayed inside the banner. */
    font: bold 1.6rem sans-serif;
}

.formSubtitle
{
    /* The subtitle text, displayed inside the banner. */
    font: italic 1.2rem sans-serif;
}

.formHeader
{
    /* Displayed below the banner, contains the save/cancel buttons. */

    box-sizing: border-box;
    height: 50px;  

    display: flex;
    align-items: center;

    background-color: #eed;
    border: 1px outset #fff;
}

.formHeaderText
{
    /* Text displayed inside the banner. */
    font: italic 1.8rem sans-serif;
}

.formFooter
{
    /* Displayed at the bottom, repeats the save/cancel buttons. */

    box-sizing: border-box;
    height: 50px;  

    display: flex;
    align-items: center;

    background-color: #eed;
    border: 1px outset #fff;
}

.formBody
{
    /* The main center section where fields are displayed and edited. */
    
    border: 1px outset #fff;
    background-color: #ffe;
}

.formBodyWarning
{
    /* The main center section where fields are displayed and edited. */
    background-color: #fee;
    border: 1px outset #fff;
}

.formSectionLeft
{
    flex-grow:   1;
    flex-shrink: 1;
    
    white-space: nowrap;
    overflow: hidden;
    padding: 10px;
}

.formSectionRight
{
    flex-grow:   0;
    flex-shrink: 0;
    
    white-space: nowrap;
    overflow: hidden;
    padding: 10px;
}

.formEmpty
{
    background-color: #ffe;
    font: normal 1.4rem sans-serif;
    padding: 10px;
}

.formHelp
{
    box-sizing: border-box;
    
    height:       11px;
    width:        11px; 
    padding-left: 11px; /* equal to width */
    
    cursor: help;
    vertical-align: middle;
    background:   url(fieldHelp11.png) no-repeat;
}

/*******************************************************************
 ** text field 
 *******************************************************************/

.textField
{
    margin: 0;
    padding: 5px;
    font: normal 1.5rem sans-serif;
    background-color: #fff;
    
    border-top:    1px solid #999;
    border-left:   1px solid #999;
    border-bottom: 1px solid #bbb;
    border-right:  1px solid #bbb;
    
    transition: border 100ms;
}

.textField:hover
{
    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.textField:focus
{
    background-color: #fff;
    border: 1px solid #48f;
    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.2);
}

/* 
 * Used to wrap the field when the field's width is 100%. 
 * This value should equal the sum of the element's left 
 * and right padding, margin, and border.
 */
.textFieldWrapper
{
    padding-right: 12px;
}

/*******************************************************************
 ** text field (readonly)
 *******************************************************************/

.textFieldReadOnly
{
    margin: 0;
    padding: 5px;
    font: normal 1.5rem sans-serif;
    background-color: #ccc;
    
    border-top:    1px solid #999;
    border-left:   1px solid #999;
    border-bottom: 1px solid #bbb;
    border-right:  1px solid #bbb;
    
    -moz-transition:    border 200ms;
    -webkit-transition: border 200ms;
    transition:         border 200ms;
}

.textFieldReadOnly:hover
{
    box-shadow:         inset 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.textFieldReadOnly:focus
{
    border: 1px solid #48f;
    
    box-shadow:         inset 1px 1px 1px rgba(0, 0, 0, 0.2);
}

/*******************************************************************
 ** dropdown
 *******************************************************************/

.dropdown
{
    margin: 0;
    padding: 3px;
    font: normal 1.5rem sans-serif;
    background-color: #fff;
    
    border-top:    1px solid #999;
    border-left:   1px solid #999;
    border-bottom: 1px solid #bbb;
    border-right:  1px solid #bbb;
    
    -moz-transition:    border 200ms;
    -webkit-transition: border 200ms;
    transition:         border 200ms;
}

.dropdown:hover
{
    box-shadow:         inset 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.dropdown:focus
{
    border: 1px solid #48f;
    background-color: #fff;
    
    box-shadow:         inset 1px 1px 1px rgba(0, 0, 0, 0.2);
}

/*******************************************************************
 ** other fields 
 *******************************************************************/

.radio
{
    padding: 0;
    margin: 0;
}

.checkbox
{
    padding: 0;
    margin: 0;
}

.listBox
{
}

/*******************************************************************
 ** link
 *******************************************************************/

.link
{
    font: normal 1.3rem sans-serif;
    color: #000;
}

.link:hover
{
    color: #00f;
    cursor: pointer;
}

.linkBox      { padding: 10px  5px  5px 10px }
.linkBox > *  { margin:   0px  5px  5px  0px }

.lineBox      { padding: 10px  5px  5px 10px }
.lineBox > *  { margin:   0px  5px  5px  0px }

/*******************************************************************
 ** field set
 *******************************************************************/

.fieldset-legend-default
{
    font: bold 1.4rem sans-serif;
    padding: 2px 14px;
    background-color: #ddc;
    border: 2px groove #fff;
    border-radius: 10px;
}

.fieldset-body-default
{
    background-color: #eed;
    border: 2px groove #fff;
}


/*******************************************************************
 ** main
 *******************************************************************/

table.main
{
    padding: 0;
    margin: 0;
    height: 400px;
    width: 100%;
    border-collapse: collapse;
}

td.main
{
    padding: 0;
    margin: 0;
    background-color: #eee;
    min-height: 400px;
    height: 400px;
    border-bottom: 1px solid #ddd;
    vertical-align: top;
}

table.content
{
    margin: 0;
    padding: 0;
    border-collapse: collapse;
    width: 100%;
}

td.content
{
    vertical-align: top;
    margin: 0;
    padding: 5px;
}

/*******************************************************************
 ** data table
 *******************************************************************/

.dataTable
{
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #666;
}

th.dataTableHeader
{
    vertical-align: top;
    font: 1.2rem sans-serif;
    background-color: #d4d0c8;
    margin: 0 0 0 0;
    padding: 1px 5px 2px 2px;
    border: 0px;
    border-right: 1px solid #808080;
    border-left: 1px solid #ffffff;
    border-bottom: 1px solid #808080;
}

tr.dataTableOdd
{
    vertical-align: top;
    font: 1.2rem sans-serif;
    background-color: #ffffff;
    padding: 1px 2px 1px 2px;
    border: 0px;
    border-right: 1px solid #666;
}

tr.dataTableEven
{
    vertical-align: top;
    font: 1.2rem sans-serif;
    background-color: #f0f5fa;
    padding: 1px 2px 1px 2px;
    border: 0px;
    border-right: 1px solid #666;
}

tr.dataTableOddOver
{
    vertical-align: top;
    font: 1.2rem sans-serif;
    background-color: #EDDFC9;
    padding: 1px 2px 1px 2px;
    border: 0px;
    border-right: 1px solid #666;
}

tr.dataTableEvenOver
{
    vertical-align: top;
    font: 1.2rem sans-serif;
    background-color: #EDDFC9;
    padding: 1px 2px 1px 2px;
    border: 0px;
    border-right: 1px solid #666;
}

td.dataTableOdd
{
    vertical-align: top;
    font: 1.2rem sans-serif;
    padding: 1px 2px 1px 2px;
    border: 0px;
    border-right: 1px solid #666;
    white-space: nowrap;
}

td.dataTableEven
{
    vertical-align: top;
    font: 1.2rem sans-serif;
    padding: 1px 2px 1px 2px;
    border: 0px;
    border-right: 1px solid #666;
    white-space: nowrap;
}


/*******************************************************************
 ** text
 *******************************************************************/

.text
{
    font: normal 1.2rem sans-serif;
    color: #000;
}

.smallText
{
    font: normal 1rem sans-serif;
    color: #000;
}

.importantText
{
    font: bold 1.2rem sans-serif;
    color: #f00;
}

.label
{
    font: bold 1.5rem sans-serif;
    color: #000;
    white-space: nowrap;
}

.fieldValue
{
    font: normal 1.5rem sans-serif;
    border: 1px solid #ddd;
    padding: 2px;
}


/*******************************************************************
 ** field table
 *******************************************************************/

table.fields
{
    border-collapse: collapse;
    border-spacing: 0;
    padding: 0;
}

tr.fields
{
}

td.fields
{
    padding: 0;
    vertical-align: top;
}

td.fieldsTop
{
}

td.fieldsMore
{
    padding-top: 3px;
}

td.fieldsLeft
{
    vertical-align: middle;
}

td.fieldsRight
{
    padding-left: 3px;
    width: 100%;
}

/*******************************************************************
 ** field layout
 *******************************************************************/

.fieldLayout
{
}

.fieldLayoutRow
{
    margin-top: 15px;
}
.fieldLayoutRow:first-child
{
    margin-top: 0;
}

.fieldLayoutLabel
{
    font: bold 1.3rem sans-serif;
    color: #000;
    white-space: nowrap;
    vertical-align: middle;
}

/*******************************************************************
 ** Notebooks
 *******************************************************************/

.tabGroup
{
    background-color: #CF9958;
    border: 1px solid #000000;
    padding-top: 5px;
    border-bottom: 1px solid #000000;
}

.tabBody
{
    background-color: #E3DFD6;
    border: 1px solid #000000;
    border-top: none;
    padding: 10px;
}

a.tab
{
    color: #000000;
    padding: 3px 3px 3px 3px;
    background-color: #C5C1B8;
    border: 1px solid #000000;
    border-bottom: 0px;
    margin: 0px 5px 0px 0px;
    text-decoration: none;
    
    -moz-border-radius-topleft:         5px;
    -moz-border-radius-topright:        5px;
    -webkit-border-top-left-radius:     5px;
    -webkit-border-top-right-radius:    5px;
    border-top-left-radius:             5px;
    border-top-right-radius:            5px;
}

a.tabx
{
    color: #000000;
    padding: 8px 6px 4px 6px;
    font-weight: bold;
    background-color: #E3DFD6;
    border: 1px solid #000000;
    border-bottom: 0px;
    margin: 0px 5px 0px 0px;
    text-decoration: none;
    
    -moz-border-radius-topleft:         5px;
    -moz-border-radius-topright:        5px;
    -webkit-border-top-left-radius:     5px;
    -webkit-border-top-right-radius:    5px;
    border-top-left-radius:             5px;
    border-top-right-radius:            5px;
}

a.tab:hover
{
    color: #0000FF;
    background: #FFFFFF;
    border-bottom: 1px solid #000000;
}

a.tabx:hover
{
    color: #0000FF;
}

/*******************************************************************
 ** accordion
 *******************************************************************/

.accordion
{
}

.accordionEnabledTab
{
    font: bold 1.2rem sans-serif;
    color: #000000;
    background-color: #EEEEEE;
    border: 1px solid #CCCCCC;
    padding: 5px;
    cursor: pointer;
}

.accordionEnabledTab:hover
{
    color: #0000FF;
}

.accordionDisabledTab
{
    font: bold 1.2rem sans-serif;
    color: #000000;
    background-color: #EEEEEE;
    border: 1px solid #CCCCCC;
    padding: 5px;
    cursor: pointer;
}

.accordionOpenTab
{
    font: bold 1.2rem sans-serif;
    color: #000000;
    background-color: #DDDD66;
    border: 1px solid #444444;
    padding: 5px;
    cursor: pointer;
}

.accordionOpenBody
{
    background-color: #FFFF88;
    border: 1px solid #444444;
    border-top: none;
    padding: 5px;
}

/*******************************************************************
 ** error
 *******************************************************************/

/*
 * I am used to identify all error elements regardless of their
 * visual style so that they can be easily identified and hidden.
 * I should not contain any styling.
 */
.error
{
}

.errorBox-wrapper-attached
{
}

.errorBox-message-attached
{
    color: red;
    padding: 5px;
    background-color: white;
    font: normal 1.2rem sans-serif; 
    
    border: 1px solid red;
    border-top: none;
}

.errorBox-wrapper-detached
{
}

.errorBox-message-detached
{
    color: red;
    padding: 2px 5px;
    background-color: white;
    font: normal 1.2rem sans-serif;
    
    border: 1px solid #f00;
    margin-top: 1px; 
    margin-bottom: 3px; 
}



/*******************************************************************
 ** group (default)
 ** 
 ** The default groups are designed to vertically expand as needed
 ** based on the contents of the body.
 *******************************************************************/

/**
 * Used to identify groups.  Should not have any styling.
 */
.group
{
    border-top:  1px solid #aaa;
    border-left: 1px solid #aaa;
    border-top-left-radius:  10px;
    border-top-right-radius: 10px;
    
    box-shadow: 5px 5px 5px #ccc;
    overflow: hidden;
    background-color: #e8e8e8;
}
.group > *
{
    border-top:    1px solid #fff;
    border-left:   1px solid #fff;
    border-bottom: 1px solid #aaa;
    border-right:  1px solid #aaa;
}

.groupBlock
{
    display: flex;
    flex-direction: column;
}

.groupInline
{
    display: inline-flex;
    flex-direction: column;
}        

.groupBanner
{
    flex-grow:   0;
    flex-shrink: 0;
    overflow: hidden;
    
    border-top-left-radius:  10px;
    border-top-right-radius: 10px;
    
    font: bold 2.0rem sans-serif;
    background-color: #ccc;
}

.groupBannerTitle
{
    padding: 5px 10px;
    font: bold 2rem sans-serif;
    white-space: nowrap;
    float: left;
}

.groupHeader
{
    flex-grow:   0;
    flex-shrink: 0;
    overflow: hidden;
}

.groupBody
{
    flex-grow:   1;
    flex-shrink: 1;
}

.groupFooter
{
    flex-grow:   0;
    flex-shrink: 0;
    overflow: hidden;
}

.groupDivider
{
    box-sizing: border-box;  
    height: 2px;
    border-top:    1px solid #aaa;
    border-bottom: 1px solid #fff;
}
        

/*******************************************************************
 ** block ui 
 *******************************************************************/
 
.blockMsg
{
    background-color: #ffa;
    border: 4px solid #f00;
    font: bold 1.2rem sans-serif;
     
    padding: 10px;
    padding-left: 35px;
    
    border-radius:          5px;

    background-image:       url(blockSpinner.gif);
    background-repeat:      no-repeat;
    background-position:    10px center;
    
    cursor: wait;
}


/*******************************************************************
 ** rules (dividers) 
 *******************************************************************/

.divider-inner-groove
{
    box-sizing: border-box;  
    height: 2px;
    border-top:    1px solid #aaa;
    border-bottom: 1px solid #fff;
}

.divider-inner-bevel
{
    box-sizing: border-box;  
    height: 2px;
    border-top:    1px solid #fff;
    border-bottom: 1px solid #aaa;
}

.divider
{
    box-sizing: border-box;  
    height: 2px;
    border-top:    1px solid #aaa;
    border-bottom: 1px solid #fff;
}



/*******************************************************************
 ** sql result 
 *******************************************************************/

.sqlResultBlock
{
    border: 1px solid #444;
    padding: 5px;
    
    box-shadow:         5px 5px 5px #ccc;
}

.sqlResultSelect
{
    background-color: #ff0; 
}

.sqlResultUpdate
{
    background-color: #0ff; 
}

.sqlResultError
{
    background-color: #f00; 
}

table.sqlResultTable
{
}

td.sqlResultHeader
{
    font-weight: bold;
    padding: 3px;
    background-color: #eee;
    white-space: nowrap;
    border: 1px solid gray;
}

tr.sqlResultValue:nth-child(even)
{
    background-color: #fff;
}

tr.sqlResultValue:nth-child(odd)
{
    background-color: #eee;
}

td.sqlResultValue
{
    padding: 3px;
    border: 1px solid gray;
    white-space: nowrap;
}

/*******************************************************************
 ** title panel 
 *******************************************************************/

.titlePanelHeader
{
    overflow: hidden;
}

.titlePanelText
{
    padding: 5px;
    font: bold 2rem sans-serif;
}

/**
 * The center portion must be explicitly sized, and the top must be set such that
 * it lays out just below the header.  You must manually account for any padding
 * margins, borders, and fonts used in the .titlePanelHeader and .titlePanelText.
 */
.titlePanelBody
{
    position: absolute;
    left:  0;
    right: 0;
    bottom: 0;
    top:   38px;
    overflow: auto;
}

/*******************************************************************
 ** position 
 *******************************************************************/

.offset
{
	left:   10px;
	right:  10px;
	top:    10px;
	bottom: 10px;
}

.leftOffset     { left:   10px }
.rightOffset    { right:  10px }
.topOffset      { top:    10px }
.bottomOffset   { bottom: 10px }


/*******************************************************************
 ** model list 
 *******************************************************************/

.modelList
{
    position: absolute;
    left:   0;
    right:  0;
    width:  auto;
    top:    0;
    bottom: 0;
    height: auto;

    overflow-x: hidden;
    overflow-y: scroll;

    background-color: #aaa;    
    background-image: url("bgLightTexture.png");
}

.modelList-item
{
    box-sizing: border-box;  
    height: 50px;
    
    display: flex;
    align-items: center;
    
	cursor: pointer;
	border: 1px outset #fff;
    background-color: #eee;
    background-image: linear-gradient(to bottom, #eee, #ddd);
}
.modelList-item:hover
{
    background-color: #ddd;
    background-image: linear-gradient(to bottom, #ddd, #ccc);
}
.modelList-item:first-child
{
    border-top: none;
}

.modelList-itemSelected
{
    background-color: #bdc;
    background-image: linear-gradient(to bottom, #ced, #bdc);
}
.modelList-itemSelected:hover
{
    background-color: #acb;
    background-image: linear-gradient(to bottom, #bdc, #acb);
}

.modelList-itemLeftBox
{
    flex-grow: 1;
    overflow: hidden;
    padding-left: 5px;
}

.modelList-itemRightBox
{
    flex-shrink: 0;
    padding: 5px;
    /* visibility: hidden; */
}
.modelList-item:hover .modelList-itemRightBox
{
    visibility: visible;
}

.modelList-itemTitle
{
    font: bold 1.6rem sans-serif;
    white-space: nowrap;
}

.modelList-itemSubtitle
{
    font: italic 1.2rem sans-serif;
    white-space: nowrap;
}

/*******************************************************************
 ** dragging
 *******************************************************************/
 
.dragHandle
{
    box-sizing: border-box;  
    width:   15px;
    height:  16px;

    cursor: move;
    display: inline-block;
    background: transparent url("drag.png") no-repeat center;
    border: 1px solid transparent;
}

/*******************************************************************
 ** draggable multi select
 **
 ** These styles are tied to the ScDraggableMultiSelect widget.
 ** Also, javascript in Kmu.dmsToggle() relies on these selectors.
 *******************************************************************/

.dmsContainer
{
    overflow: hidden;
}

.dmsSelectedHeader
{
    box-sizing: border-box;
    position:   absolute;
    left:       0;
    width:      50%;
    top:        0;
    height:     30px;

    border: 1px outset #fff;
    background-color: #eed;
    font: bold 1.5rem sans-serif;
    padding: 5px;
    overflow: hidden;
}

.dmsAvailableHeader
{
    box-sizing: border-box;
    position:   absolute;
    left:       50%;
    right:      0;
    top:        0;
    height:     30px;
    
    border: 1px outset #fff;
    background-color: #eed;
    font: bold 1.5rem sans-serif;
    padding: 5px;
    overflow: hidden;
}

.dmsSelectedList
{
    box-sizing: border-box;
    position:   absolute;
    left:       0;
    width:      50%;
    top:        30px;
    bottom:     0;
    
    overflow-x: hidden;
    overflow-y: scroll;
    
    border: 1px outset #fff;
    background-color: #aaa;    
    background-image: url("bgLightTexture.png");
}

.dmsAvailableList
{
    box-sizing: border-box;
    position:   absolute;
    left:       50%;
    right:      0;
    top:        30px;
    bottom:     0;
    
    overflow-x: hidden;
    overflow-y: scroll;
    
    border: 1px outset #fff;
    background-color: #aaa;    
    background-image: url("bgLightTexture.png");
}

.dmsItem
{
    display:     flex;
    align-items: center;

    padding: 5px;
    border: 1px outset #fff;
    background-color: #eee;
    background-image: linear-gradient(to bottom, #eee, #ddd);
}
.dmsItem:first-child
{
    border-top: none;
}
.dmsItem:hover
{
    background-color: #ddd;
    background-image: linear-gradient(to bottom, #ddd, #ccc);
}

.dmsSelectedList .dmsItemHandle
{
    flex-grow:   0;
    flex-shrink: 0;

    box-sizing: border-box;  
    width:   15px;
    height:  16px;

    cursor: move;
    display: inline-block;
    background: transparent url("drag.png") no-repeat center;
}
.dmsAvailableList .dmsItemHandle
{
    display: none;
}

.dmsSelectedList .dmsItemPriority
{
    flex-grow:   0;
    flex-shrink: 0;

    box-sizing: border-box;  
    width: 20px;
    margin-left: 5px;
    font: bold 1.4rem sans-serif;
    padding-bottom: 4px;
}
.dmsAvailableList .dmsItemPriority
{
    display: none;
}

.dmsItemText
{
    flex-grow:   1;
    flex-shrink: 1;
    margin-left: 5px;
    font: normal 1.4rem sans-serif;
    padding-bottom: 2px;
}

.dmsItemToggle
{
    flex-grow:   0;
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    border: 1px outset #fff;
    cursor: pointer;
}
.dmsSelectedList .dmsItemToggle
{
    background: transparent url("dmsRemove.png") no-repeat center;    
}
.dmsAvailableList .dmsItemToggle
{
    background: transparent url("dmsAdd.png") no-repeat center;    
}

.dmsItemField
{
}

/*******************************************************************
 ** dialog
 *******************************************************************/

.ui-widget-overlay
{
    opacity: .5;
}

.ui-dialog
{
    border: none !important;
    box-shadow: 0 0 3px 3px #666;
    padding: 0;
}
    
.ui-dialog-title
{
    font-size: 2.0rem;
}
    
.dialogNoClose .ui-dialog-titlebar-close 
{
    /* optionally hide the default close button */
    display: none;
}

.dialogBody
{
    background-color: #ffe;
    padding: 10px;
}

.dialogFooter
{
    background-color: #eed;
}

/*******************************************************************
 ** common spacing 
 **
 ** These styles should be included at the bottom of the css.
 ** This way, they will override defaults applied above.  
 ** For example, the normal .textField (above) sets the default margin to 0, 
 ** but the spacing styles (below) may override the text field's 0-margin.
 *******************************************************************/

.pad        
{ 
    padding: 10px;
}

.smallPad        
{ 
    padding: 5px;
}

.padVertical
{
    padding-top:    10px;
    padding-bottom: 10px;
}

.padHorizontal
{
    padding-left:  10px;
    padding-right: 10px;
}

.padTop                 { padding-top: 10px;    }
.padTopChildren > *     { padding-top: 10px;    }

.padBottom              { padding-bottom: 10px; }
.padBottomChildren > *  { padding-bottom: 10px; }

.padLeft                { padding-left: 10px;   }
.padLeftChildren > *    { padding-left: 10px;   }

.padRight               { padding-right: 10px;  }
.padRightChildren > *   { padding-right: 10px;  }

.margin                 { margin:        10px;  }
.marginLeft             { margin-left:   10px;  }
.marginRight            { margin-right:  10px;  }
.marginTop              { margin-top:    10px;  }
.marginBottom           { margin-bottom: 10px;  }

.smallMargin            { margin:        5px;  }
.smallMarginLeft        { margin-left:   5px;  }
.smallMarginRight       { margin-right:  5px;  }
.smallMarginTop         { margin-top:    5px;  }
.smallMarginBottom      { margin-bottom: 5px;   }

.childMargin > *        { margin:        10px;  }
.childMarginLeft > *    { margin-left:   10px;  }
.childMarginRight > *   { margin-right:  10px;  }
.childMarginTop > *     { margin-top:    10px;  }
.childMarginBottom > *  { margin-bottom: 10px;  }

.smallChildMargin > *       { margin:        5px;  }
.smallChildMarginLeft > *   { margin-left:   5px;  }
.smallChildMarginRight > *  { margin-right:  5px;  }
.smallChildMarginTop > *    { margin-top:    5px;  }
.smallChildMarginBottom > * { margin-bottom: 5px;   }

.gapOuter               { padding: 10px  0px  0px 10px }
.gapInner > *           { margin:   0px 10px 10px  0px }

.gap                    { padding: 10px  0px  0px 10px }
.gap > *                { margin:   0px 10px 10px  0px }

.smallGap               { padding:  5px 0px 0px 5px }
.smallGap > *           { margin:   0px 5px 5px 0px }

/* Intended for a single row of buttons */
.buttonGap              { padding:     10px }
.buttonGap > *          { margin-right: 5px }
